/* Add here all your CSS customizations */

.slider-container .tp-opacity-overlay {
	opacity: 0.4;
}

.slider-container {
	  background-image: url("../img/bg.jpg");
	  background-position: center;
	  background-size: cover;
}

.owl-item {
	padding: 20px;
}