/* Add here all your CSS customizations */

.slider-container .tp-opacity-overlay {
	opacity: 0.4;
}

.slider-container {
	  background-image: url("../img/bg.jpg");
	  background-position: center !important;
	  background-size: cover;
}

.owl-item {
	padding: 20px;
	max-width: 200px;
}

@media (max-width: 991px) {
	.owl-item {
		padding: 20px;
		max-width: 150px;
	}
}
